@tailwind base;
@tailwind components;
@tailwind utilities;


/* Utilitas untuk menyembunyikan scrollbar tapi tetap bisa di-scroll */
@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}